
*.lyx~

*.lyx#

Vision/TTBB-durham-02-10-17-sub5/

Vision/__pycache__/

Vision/mosaic-lab

Vision/mymap\.html

*.txt

*.MendicantBias

Visualisation/brain/

Visualisation/bunny/

Visualisation/head/

*.zip

Visualisation/VTK-8\.1\.0/

Visualisation/ParaView-5.5.0-RC3-Qt5-MPI-Linux-64bit
Visualisation/brainTiff/

Visualisation/brainTiff16/

Visualisation/headTiff/

Visualisation/headTiff16/

Visualisation/images/

Visualisation/tobiasEmail\.jpg
